<% layout('layout/boilerplate') -%>
<body>
  <div class="mainbtn">
    <button class="btn" style="background-color: #66FF00;">
      <a href="/admin/absent" style="font-size: 30px; ">Mark All as Absent</a></button
    ><button class="btn"  style="background-color: #66FF00;">
      <a href="/admin/attendence" style="font-size: 30px; ">View one Month Attendence</a></button
    ><button class="btn"  style="background-color: #66FF00;">
      <a href="/admin/viewabsent" style="font-size: 30px; ">View Today Absent</a>
    </button>
  </div>
</body>