<% layout('layout/boilerplate') -%>
<body>
  <div class="mainbtn">
    <button class="btn">
      <a href="/markattend">Mark Attendence</a></button
    ><button class="btn">
      <a href="/leave">Mark Leave</a></button
    ><button class="btn">
      <a href="/allviews">View</a>
    </button>
  </div>
</body>
