<% layout('layout/boilerplate') -%>
<body>
     <form action="/setting/admin" method="post">
        <div class="allinput">
   
      <div class="email inputdiv">
              <label for="email"> Email</label>
              <input type="email" name="email" id="email" placeholder="Email">
        </div>
      
        <div class="button">
            <button type="submit">Make Admin</button>
        </div>
      
    </form>
</body>