<% layout('layout/boilerplate') -%>
<body>
     <form action="/setting/markleave" method="post">
        <div class="allinput">
   
      <div class="email inputdiv">
              <label for="email">Student Email</label>
              <input type="email" name="email" id="email" placeholder="Student Email">
        </div>
      
        <div class="button">
            <button type="submit">Mark Leave</button>
        </div>
      
    </form>
</body>