<% layout('layout/boilerplate') -%>
<body>
  <div class="mainbtn">
    <button class="btn">
      <a href="/setting/markleave">Mark Leave</a></button
    ><button class="btn">
      <a href="/setting/admin">Make Admin</a></button
    ><button class="btn">
      <a href="/setting/seeadmin">See Admin</a>
    </button>
  </div>
</body>
